# Carpetas generadas por Node.js
node_modules/
build/
dist/

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Archivos temporales y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias específicas de herramientas
.parcel-cache/
.cache/
.next/

# IDE y editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Otros archivos temporales
*.log
*.tmp
*.swp